td{
  text-align: right;
}

th, td{
  padding: 5px;
}

table{
  border-collapse: collapse;
}

#myInput{
  margin-bottom: 15px;
}
li{
  padding: 10px;
}
.container-fluid{
  padding-bottom: 100px;
}
.pull-right{
  padding: 10px;
}
